body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------------------- */

/* ----- HEADER STYLING BEGINS ------- */

header {
    position: relative;
    background: url("../images/assets/image-header.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    min-height: 34.375em;
    color: hsl(0, 0%, 100%);
}

/* --------- Nav and Nav Container Styling Starts ----------- */

.mobile-nav-toggle {
    display: none;
}

.nav-and-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-and-title-container > span {
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
}

.nav-and-title-container nav ul li {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav-and-title-container nav ul li:hover {
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: underline;
}

/* xxxxxxxxxx Nav and Nav Container Styling Ends xxxxxxxxxxxx */

header h1 {
    text-align: center;
    font-family: 'Fraunces', serif;
    letter-spacing: 0.5rem;
}

.header-arrow-down {
    text-align: center;
}

.header-arrow-down img {
    margin-top: 1.5rem;
}

/* xxxxxxxxxxx HEADER STYLING ENDS xxxxxxxxxxx */

/* -------------------------------------------------------------------------------------- */

/* -------- MAIN GRID SECTION BEGINS --------- */

/* Grid Definition: Follows immediately*/
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "main-one main-two"
    "main-three main-four"
    "main-five main-six";
}

/* Grid Items: Follow immediately*/

.main-grid-text-holder {
    background-color: hsl(0, 0%, 100%);
    color: hsl(167, 40%, 24%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-grid-box-one {
    grid-area: main-one;
    text-align: center;
    padding: 3rem;
}

.main-grid-box-two {
    grid-area: main-two;
}

.main-grid-box-two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-grid-box-three {
    grid-area: main-three;
}

.main-grid-box-three img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-grid-box-four {
    grid-area: main-four;
    text-align: center;
    padding: 3rem;
}

.main-grid-box-five {
    grid-area: main-five;
    background: url("../images/assets/image-graphic-design.jpg") no-repeat center center;
    background-size: cover;
    min-height: 400px;
    color: hsl(167, 40%, 24%);
    text-align: center;
}

.main-grid-box-six {
    grid-area: main-six;
    background: url("../images/assets/image-photography.jpg") no-repeat;
    background-size: cover;
    min-height: 400px;
    color: hsl(198, 62%, 26%);
    text-align: center;
}

.grid-box-five-six-text {
    margin-top: 21rem;
}

/* xxxxxxxx MAIN GRID SECTION ENDS xxxxxxxxxx */

/* -------------------------------------------------------------------------------------- */

/* -------- TESTIMONIALS CSS BEGINS ---------- */

section h3 {
    margin-top: 2rem;
    text-align: center;
    padding: 2rem;
}

.testimonials-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "one two three";
    justify-items: center;
}

.testimonial-one {
    grid-area: one;
}

.testimonial-two {
    grid-area: two;
}

.testimonial-three {
    grid-area: three;
}

.testimonial {
    text-align: center;
    padding: 2.5rem;
}

.testimonial-image img {
    border-radius: 50%;
}

/* xxxxxxx TESTIMONIALS CSS ENDS xxxxxxxxxxxx */

/* -------------------------------------------------------------------------------------- */

/* --------- BOTTOM IMAGES GRID CSS BEGINS ---------- */

.bottom-images-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "bottom-image-one bottom-image-two bottom-image-three bottom-image-four";
}

.bottom-images-container-one {
    grid-area: bottom-image-one;
}

.bottom-images-container-two {
    grid-area: bottom-image-two;
}

.bottom-images-container-three {
    grid-area: bottom-image-three;
}

.bottom-images-container-four {
    grid-area: bottom-image-four;
}

.bottom-image-group img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* xxxxxxxxxx BOTTOM IMaGES GRID CSS ENDS xxxxxxxxxx */

/* -------------------------------------------------------------------------------------- */

/* ----------- FOOTER CSS BEGINS ----------------- */

footer {
    background-color: hsl(167, 40%, 24%);
    color: hsla(113, 99%, 70%, 0.911);
    text-align: center;
    padding: 1rem;
}

footer h3 {
    margin: 0 0.5rem;
}

.footer-nav-links span {
    margin: 1rem;
    cursor: pointer;
}

.footer-nav-links span:hover {
    color: rgb(255, 60, 0);
}

.footer-social-icons {
    margin-bottom: 0;
}

.footer-social-icons span {
    margin: 2rem;
    cursor: pointer;
}

.footer-social-icons span:hover {
    color: rgba(255, 255, 0, 0.822);
}

/* xxxxxxxxxxx FOOTER CSS BEGINS xxxxxxxxxxxxxxxx */

/* -------------------------------------------------------------------------------------- */

/* --------- MEDIA QUERIES BEGIN ---------- */

@media (max-width: 650px) {
    .primary-navigation {
        position: fixed;
        z-index: 1;
        inset: 6% 5% 0 5%;
        background-color: hsl(0, 0%, 100%);
        flex-direction: column;
        color: gray;
        max-height: 14.0625em;
        transform: translateX(120%);
        transition: transform 250ms ease-out;
    }    

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .nav-and-title-container nav ul li {
        font-size: 1.1rem;
        margin: 0.2rem auto;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2;
        background: url(../images/icon-hamburger.svg) no-repeat;
        width: 1.5rem;
        aspect-ratio: 1;
        top: 1.5rem;
        right: 1.5rem;
        border: none;
    }

    .nav-contacts {
        background-color: yellow;
        color: black;
        text-align: center;
        padding: 0.5rem;
        border-radius: 1rem;
        font-weight: bold;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "main-one"
        "main-two"
        "main-three"
        "main-four"
        "main-five"
        "main-six";
    }
    
    .main-grid-box-six {
        grid-area: main-six;
        background: url("../images/assets/image-photography.jpg") no-repeat center center;
        background-size: cover;
        min-height: 400px;
        color: hsl(198, 62%, 26%);
        text-align: center;
    }    

    .testimonials-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "one"
        "two"
        "three";
        justify-items: center;
    }
    
    .bottom-images-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "bottom-image-one"
        "bottom-image-two"
        "bottom-image-three"
        "bottom-image-four";
    }    
    
}

/* xxxxxxxxxx MEDIA QUERIES END xxxxxxxxxx */

/* -------------------------------------------------------------------------------------- */